---
title: Edge Installer for Pivotal Cloud Foundry
owner: Partners
---

Apigee Edge manages API complexity and risk in a multi- and hybrid-cloud world by ensuring security, visibility, and performance across the entire API landscape. For more information, see [What is Apigee Edge](http://docs.apigee.com/api-services/content/what-apigee-edge).

## <a id='overview'></a>Overview

A deployment environment for Edge for the Private Cloud typically consists of at least nine separate servers, and more commonly 13 or more servers. The interactive installation process of Edge requires you to predefine and preconfigure each server, then install Edge components on each server in a specific order.

You can optionally choose to install additional Edge components. These components require additional servers:

* Apigee BaaS requires an additional six or more servers.
* The Edge Monitoring Dashboard requires an additional server.
* The Developer Services portal requires an additional server.

Pivotal’s Ops Manager is a graphical web interface that you use to install and manage the set of supported pre-configured products and components on Pivotal Supported Cloud Platforms (AWS, vSphere, Openstack, GCP,  etc.) in a uniform way. 

Ops Manager relies on an open-source tool, called BOSH, that can handle the deployment, creation and management of a distributed system on the supported cloud infrastructures. Ops Manager hides the complexity of generating cloud specific deployment manifests and configurations involved with BOSH by allowing you to install, configure, and manage products through the Ops Manager UI. Products should conform to a package structure known as a Pivotal Tile that allows Ops Manager to generate the related forms and allow the various components to be configured, linked, scaled, and managed.

## <a id="snapshot"></a>Product Snapshot

<dl>
<dt>Edge Installer for Pivotal Cloud Foundry Details:</dt>
<dd><strong>Version</strong>: 4.16.09 </dd>
<dd><strong>Release Date</strong>: December 15, 2016</dd>
<dd><strong>Compatible Ops Manager Version(s)</strong>: v1.8.x</dd>
<dd><strong>Compatible Elastic Runtime Version(s)</strong>: 1.8</dd>
<dd><strong>vSphere support?</strong> YES</dd>
<dd><strong>OpenStack support?</strong> YES</dd>
<dd><strong>AWS support?</strong> YES</dd>
</dl>

## <a id="reqs"></a>Requirements
Edge Installer for Pivotal Cloud Foundry has the following requirements:

* **Define VMs that meet the Edge system requirements**. Ensure that you have defined VMs that meet the memory, CPU, and disk requirements of Edge components as defined in [Installation Requirements](http://docs.apigee.com/private-cloud/latest/installation-requirements).

* **Configure load balancers**. With Ops Manager, you must predefine load balancers to control access to the servers running Edge. The load balancer defines the domain name and port of the Edge access point, optionally enables TLS, and forwards requests to the appropriate port on an Edge component. See [Configure load balancers](http://docs.apigee.com/private-cloud/latest/installing-edge) for more.

## <a id="limitations"></a>Differences between Edge interactive install and Edge Installer for Pivotal Cloud Foundry 

The list describes differences between an interactive install and an Ops Manager install:

* **No config files needed. Use the Ops Manager to specify installation and configuration information**. You do not have to create separate config files.  

* **Multiple data centers not supported**. The release supports the installation of a single data center only.

* You can only specify the number servers for the Router and Message Processor components**. In this release, Edge is configured to create two Router servers and two Message Processor servers by default. However, you can increase or decrease that number at install time or later.

* **No need to enable Cassandra authentication**. The Cassandra servers created during the install are not publicly accessible and therefore do not require you to enable authentication.

* **The two Postgres servers are configured as master/standby servers**. You must use Postgres master/standby configuration in this release.

* **Do not have to open specific ports on the servers**. In an interactive Edge installation, you have to ensure that the necessary ports are open on each server as described in Edge port requirements.  

See [Differences between Operations Manager and interactive Edge installs](http://docs.apigee.com/private-cloud/latest/differences-between-operations-manager-and-interactive-edge-installs) for more.

## <a id="feedback"></a>Feedback

Please contact [Apigee Support](https://community.apigee.com/content/apigee-customer-support) for any bugs, feature requests, or questions. 

You can also tap into the knowledge and experience of Apigee customers and employees by posting a new question to the [Apigee Community](https://community.apigee.com/index.html).

## <a id='license'></a>License

Each installation of Edge requires a unique license file that you obtain from Apigee. If license file is valid, the management server validates the expiry and allowed Message Processor (MP) count. 
