---
title: Edge Installer for PCF
owner: Partners
---

This documentation describes Edge Installer for Pivotal Cloud Foundry (PCF), 
which installs the API management service [Apigee Edge for Private Cloud v4.17.05](http://docs.apigee.com/private-cloud/latest/overview) (Edge) on PCF. 

PCF Operators [download](https://network.pivotal.io/) and install the Edge 
Installer for PCF tile to expose the [Apigee Edge](http://docs.apigee.com/api-services/content/what-apigee-edge) API 
management platform in the Marketplace. 
Developers can then use Edge by creating instances of the service and binding 
them to their apps from Apps Manager or the Cloud Foundry Command Line 
Interface (cf CLI).

## <a id='overview'></a>Overview

Edge manages API complexity and risk in a multi- and hybrid-cloud world by 
ensuring security, visibility, and performance across the entire API landscape. 
For more information, see [What is Edge](http://docs.apigee.com/api-services/content/what-apigee-edge).

Edge for Private Cloud lets customers run Edge on-premises.
A deployment environment for Edge for Private Cloud typically consists of at 
least nine separate servers, and more commonly 13 or more. In addition, you can 
install optional Edge components that require more servers:

* Apigee BaaS requires an additional six or more servers.
* The Edge Monitoring Dashboard requires an additional server.
* The Developer Services portal requires an additional server.
* Monetization is an add-on to the Management Server and Message Processor and does not require additional servers.

You can install Edge and its optional additional components in two ways:

* Interactive installation from the command line requires you to predefine and preconfigure each server individually, then install Edge components on each server in a specific order.
* The **Edge Installer for PCF** tile in Ops Manager presents a graphical web interface that installs and manages pre-configured products and components in a uniform way across multiple IaaSes: AWS, Azure, GCP, OpenStack, and vSphere. 

The [Differences between Edge Interactive Install and Edge Installer for PCF](#compare) section below compares these two installation methods in greater detail.

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Edge Installer for PCF:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v4.17.05</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>May 31, 2017</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.8.x, v1.9.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.8.x, v1.9.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table>

## <a id="new"></a>New Features for Edge v4.17.05


This release of Edge contains the following new features:

* Support for Edge v4.17.05. For more information, see [v4.17.05 - Edge for Private Cloud release notes](http://docs.apigee.com/release-notes/content/41705-edge-private-cloud-release-notes).


## <a id="reqs"></a>Requirements

Edge Installer for PCF has the following requirements:

* **VMs**: Virtual machines (VMs) for Edge must meet system requirements for memory, CPU, and disk space as defined in [Installation Requirements](http://docs.apigee.com/private-cloud/latest/installation-requirements).

* **Load Balancers**: Configure load balancers to control access to Edge servers. The load balancer defines the domain name and port of the Edge access point, optionally enables TLS, and forwards requests to the appropriate port on an Edge component. For more information, see [Configure load balancers](http://docs.apigee.com/private-cloud/v4.17.05/installing-edge-using-ops-manager#prerequisites-configureloadbalancers).

## <a id="compare"></a>Differences between Edge Interactive Install and Edge Installer for PCF

Edge Installer for PCF streamlines the Edge for Private Cloud installation 
process and differs from interactive installation using the command line in the following ways:

* **No config files needed.** You use Ops Manager to specify installation and configuration information, and do not have to create separate config files.  

* **Enable Monetization only after installing Edge.** You must install Edge first, and then enable Monetization and apply that change to the Edge installation. You cannot enable Monetization at the same time that you install Edge.

* **No need to enable Cassandra authentication**. The Cassandra servers created during the install are not publicly accessible and therefore do not require you to enable authentication.

* **The two Postgres servers are configured as master/standby servers**. You must use Postgres master/standby configuration in this release.

* **Do not have to open specific ports on the servers**. In an interactive Edge installation, you have to ensure that the necessary ports are open on each server as described in Edge port requirements.  

* **Multiple data centers not supported**. The release supports the installation of a single data center only.

* **You can only specify the number of servers for the Router and Message Processor components**. This release configures Edge to create two Router servers and two Message Processor servers by default. However, you can increase or decrease those numbers at install time or later.

For more information, see [Differences between Operations Manager and interactive Edge installs](http://docs.apigee.com/private-cloud/v4.17.05/differences-between-operations-manager-and-interactive-edge-installs).

## <a id="bosh"></a> Ops Manager, BOSH, and PCF Tiles

Behind the Ops Manager interface, the open-source tool [BOSH](http://bosh.io) handles deploying, running, and managing distributed software systems on all PCF-supported cloud infrastructures. Ops Manager provides a uniform graphical, forms-based interface that hides the complexity of generating the cloud-specific deployment manifests and configurations that BOSH requires.

Ops Manager supports graphical configuration, deployment, and management of any software product packaged in [PCF Tile](http://docs.pivotal.io/tiledev) structure.

## <a id="feedback"></a>Feedback

Please contact [Apigee Support](https://community.apigee.com/content/apigee-customer-support) for any bugs, feature requests, or questions. 

You can also tap into the knowledge and experience of Apigee customers and employees by posting a new question to the [Apigee Community](https://community.apigee.com/index.html).

## <a id='license'></a>License

Each installation of Edge requires a unique license file that you obtain from Apigee. If license file is valid, the management server validates the expiry and allowed Message Processor (MP) count. 
