---
title: Release Notes for Apigee Edge Installer for PCF
owner: Partners
---

### Version 18.05.01

**Release Date:** November 9, 2018

[18.05.01 Edge Installer for Pivotal Cloud Foundry release notes](https://docs.apigee.com/release-notes/content/41805-edge-installer-pivotal-cloud-foundry-release-notes)

### Version 4.17.09

**Release Date:** December 4, 2017

[4.17.09 Edge Installer for Pivotal Cloud Foundry release notes](https://docs.apigee.com/release-notes/content/41709-edge-installer-pivotal-cloud-foundry-release-notes)

### Version 4.17.05

**Release Date:** June 20, 2017

[4.17.05 Apigee Edge Installer for Pivotal Cloud Foundry release notes](http://docs.apigee.com/release-notes/content/41705-edge-installer-pivotal-cloud-foundry-release-notes)

<p class="note"><strong>Note</strong>: In this release, the Edge Installer for PCF is renamed to Apigee Edge Installer for PCF.</p>

### Version 4.17.01

**Release Date:** February 21, 2017

[4.17.01 Edge Installer for Pivotal Cloud Foundry release notes](http://docs.apigee.com/release-notes/content/41701-edge-installer-pivotal-cloud-foundry-release-notes)

### Version 4.16.09

**Release Date:** February 6, 2017

[4.16.09 Edge Installer for Pivotal Cloud Foundry release notes](http://docs.apigee.com/release-notes/content/4160901-edge-installer-pivotal-cloud-foundry-release-notes)
