---
title: Updating Apigee Edge Installer for PCF
owner: Partners
---

In this topic:

<ul>
<li>Upgrades</li>
<ul>
<li><a href="#v19.01">Updating Apigee Installer for PCF from v18.05.01 to v4.19.01 (the latest version available)</a></li>
<li><a href="#v18.05">Updating Apigee Edge Installer for PCF v4.17.05 to v4.17.09</a></li>
</ul>
</ul>


### Upgrades

####<a id='v19.01'></a> Updating Apigee Installer from PCF v18.05.01 to v4.19.01 (the latest version available)

Below, you will find some changes in software component between v4.19.01 and v18.05.01 like upgrade Postgres standby.

Apigee operating procedure also requires a database to be backed up, so that in case of failure it can be recovered from backups. The backups are outside the scope of BOSH release and should be done separately.

Below, you will find the steps of the upgrade process:

1. Upgrade to v4.19.01 tile using the Ops Manager.

1. The upgrade will likely fail at the ‘Updating instance edge-postgres-server: edge-postgres-server/b243b24b-d660-442c-902b-3201557ed9a5 (1)’ step

1. SSH to Postgres standby and stop the monit services.

 ```
 sudo su -
 monit stop all
 ```

1. Rename postgres datadir.

 ```
 mv /opt/apigee/data/apigee-postgresql/pgdata /opt/apigee/data/apigee-postgresql/pgdata-save
 ```

1. Start Postgres server standby.

	```
	monit start all
	```

1. Go to Postgres bin folder and temporary rename drain script

	```
	cd /var/vcap/jobs/edge-postgres-server/bin
	mv drain drain-save
	```

1. SSH to devportal machine and complete following steps.
  admin_email and pass are credentials provided during tile configuration.

  ```
  sudo -i
  cd /opt/apigee/data/apigee-lb/conf.d
  unlink apigee-drupal-devportal-nginx.conf
  ln -s /opt/apigee/apigee-drupal-devportal-4.19.01-0.0.100/conf/apigee-drupal-devportal-nginx.conf apigee-drupal-devportal-nginx.conf
  /opt/apigee/apigee-service/bin/apigee-all restart
  /opt/apigee/apigee-setup/bin/update.sh -c dp -f/var/vcap/jobs/apigee-drupal-devportal/config/silent.conf
  cd /var/vcap/jobs/apigee-drupal-devportal/bin
  mv drain drain-save
  cd /opt/apigee/apigee-drupal/wwwroot/sites/
  drush upwd admin_email --password=pass
  ```


1. Go to OpsMan and press **Apply Changes** again.

####<a id='v18.05'></a>Updating Apigee Installer from PCF v4.17.09 to v18.05.01

Below, you will find some changes in software component between v4.17.09 and v18.05.01 like the change of Postgres version from 9.4 to 9.6.

Apigee operating procedure also requires a database to be backed up, so that in case of failure it can be recovered from backups. The backups are outside the scope of BOSH release and should be done separately.

Note: This BOSH release does not support zero downtime postgres upgrade.

Below, you will find the steps of the upgrade process:


1. Upgrade to v4.18.05 tile using the Ops Manager.

1. The upgrade will likely fail at the ‘upgrade Postgres step.’

1. SSH to both Postgres master and standby and stop the monit services.

 ```
 sudo su -
 monit stop apigee-postgresql
 monit stop edge-postgres-server
```
1. Stop edge qpid servers. Qpid should not be pushing any data to Postgres during upgrade.

 ```
 /opt/apigee/bin/apigee-service/apigee-all stop
 ```
1. Promote standby to master.

 a. SSH to the Postgres standby machine. To check if its standby, run the following command.

   ```
   sudo /opt/apigee/apigee-service/bin/apigee-service apigee-postgresql postgres-check-standby
   ```

  b. Promote the current standby to master.

    ```
    /opt/apigee/apigee-service/bin/apigee-service apigee-postgresql promote-standby-to-master <ip address of old master>
/opt/apigee/apigee-service/bin/apigee-all restart
```

 c. Check whether it is promoted to master by running the command below.

    ```
    sudo /opt/apigee/apigee-service/bin/apigee-service apigee-postgresql postgres-check-master
    ```

 d. Set replication on the new master. Edit <b>/var/vcap/jobs/edge-postgres-server/config/silent.conf</b> and change the ollowing.

    ```
    PG_MASTER=IPorDNSofNewMaster
    PG_STANDBY=IPorDNSofOldMaster
    ```

    Run the following command to set replication.

    ```
    /opt/apigee/apigee-service/bin/apigee-service apigee-postgresql setup-replication-on-master -f /var/vcap/jobs/edge-postgres-server/config/silent.conf
    ```

    Verify the host replication is added by checking <b>/opt/apigee/apigee-postgresql/conf/pg_hba.conf</b>.

1. Update apigee-postgresql on the new master.

  a. On the new master node, note down the values from <b>/etc/yum/vars/apigeerepohost</b>, <b>/etc/yum/vars/apigeeuser</b>, and <b>/etc/yum/vars/apigeepassword</b>. We will need them in the next step.

  b. Run the following command to bootstrap v4.18.05.

     ```
curl http://user:password@repohost:3939/bootstrap_4.18.05.sh -o /tmp/bootstrap_4.18.05.sh
bash /tmp/bootstrap_4.18.05.sh apigeerepohost=repohost:3939 apigeeuser=user apigeepassword=password apigeeprotocol=http://
/opt/apigee/apigee-service/bin/apigee-service apigee-setup update
     ```

  c. Stop edge-postgres in the new master.

     ```
   /opt/apigee/apigee-service/bin/apigee-service edge-postgres-server stop
     ```

  d. Check edge-postgres and apigee-postgresql are stopped in the old master. They should be already stopped.

  e. Run upgrade on the new master.

     ```
   /opt/apigee/apigee-setup/bin/update.sh -c ps -f /var/vcap/jobs/edge-postgres-server/config/silent.conf
     ```

     The upgrade should be successful.

   f. Upgrade the database in the new master node.

      ```
    /opt/apigee/apigee-service/bin/apigee-service apigee-postgresql db_upgrade
      ```
1. Upgrade apigee-postgresql on the old master.

   a. Stop apigee-postgresql on the old master by running the following command.

      ```
    /opt/apigee/apigee-service/bin/apigee-service apigee-postgresql stop
      ```

   b. Edit <b>/var/vcap/jobs/edge-postgres-server/config/silent.conf</b> and change the following.

      ```
    PG_MASTER=IPorDNSofNewMaster
    PG_STANDBY=IPorDNSofOldMaster
      ```

      Run the following commands below.

      ```
mv /opt/apigee/data/apigee-postgresql/pgdata /opt/apigee/data/apigee-postgresql/pgdata_old
/opt/apigee/apigee-service/bin/apigee-service apigee-postgresql setup-replication-on-standby -f /var/vcap/jobs/edge-postgres-server/config/silent.conf
      ```

  c. Update apigee-postgresql.

     ```
    /opt/apigee/apigee-setup/bin/update.sh -c ps -f /var/vcap/jobs/edge-postgres-server/config/silent.conf
     ```

1. Update Edge Components on the new master.

    a. Start Postgres on the new master.

    ```
    /opt/apigee/apigee-service/bin/apigee-service edge-postgres-server restart
    ```

    b. Update Edge Components on the new master.

    ```
    /opt/apigee/apigee-setup/bin/update.sh -c edge -f /var/vcap/jobs/edge-postgres-server/config/silent.conf
    ```

1. Update/Install Edge Components on the old master.

   a. Install Edge Component on the old master.

   ```
   /opt/apigee/apigee-service/bin/apigee-service edge-postgres-server install
   ```

   b. Update the Edge Component on the old master.

   ```
   /opt/apigee/apigee-setup/bin/update.sh -c edge -f /var/vcap/jobs/edge-postgres-server/config/silent.conf
   ```

1. Check that all the services are running in both master and node. At this point, you can log into Apigee’s analytics dashboard and see all the data.

1. Reswap master and standby as described in the official documentation (<a href="https://docs.apigee.com/private-cloud/v4.19.01/handling-postgressql-database-failover">https://docs.apigee.com/private-cloud/v4.19.01/handling-postgressql-database-failover</a>).

   a. On the current master node (N1), run the command below to stop apigee-postgresql.

     ```
    /opt/apigee/apigee-service/bin/apigee-service apigee-postgresql stop
     ```

   b. On the current standby node (N2), invoke the command below to promote it to master.

     ```
    /opt/apigee/apigee-service/bin/apigee-service apigee-postgresql promote-standby-to-master IPorDNSofOldMaster(N1)
     ```

   c. On the new master (N2) node, edit <b>/var/vcap/jobs/edge-postgres-server/config/silent.conf</b> and change the following.

      ```
    PG_MASTER=IPorDNSofNewMaster(N2)
    PG_STANDBY=IPorDNSofOldMaster(N1)
      ```

      Then, run the following command below.

      ```
    /opt/apigee/apigee-service/bin/apigee-service apigee-postgresql setup-replication-on-master -f /var/vcap/jobs/edge-postgres-server/config/silent.conf
      ```

      Verify the host replication is added by checking /opt/apigee/apigee-postgresql/conf/pg_hba.conf.

   d. On the old master node (N1), edit <b>/var/vcap/jobs/edge-postgres-server/config/silent.conf</b> and change the following.

      ```
    PG_MASTER=IPorDNSofNewMaster(N2)
    PG_STANDBY=IPorDNSofOldMaster(N1)
      ```

   e. On the old master node (N1), stop apigee-postgresql.

      ```
   /opt/apigee/apigee-service/bin/apigee-service apigee-postgresql stop
      ```

    f. On the old master (N1), clean up the data.

       ```
    rm -rf /opt/apigee/data/apigee-postgresql/
       ```

     g. Make the old master (N1) as standby.


       ```
    /opt/apigee/apigee-service/bin/apigee-service apigee-postgresql setup-replication-on-standby -f /var/vcap/jobs/edge-postgres-server/config/silent.conf
       ```

    h. Check for master and standby in both machines on the new master (N2).

       ```
    /opt/apigee/apigee-service/bin/apigee-service apigee-postgresql postgres-check-master
       ```

       On the old master (N1), proceed with the following.

       ```
    /opt/apigee/apigee-service/bin/apigee-service apigee-postgresql postgres-check-standby
       ```

1. Start qpid servers on the qpid nodes.

      ```
   /opt/apigee/apigee-service/bin/apigee-all restart
      ```
1. Start the monit services on both master and standby.

    ```
monit start apigee-postgresql
monit start edge-postgres-server
    ```

1. Rerun ‘Apply changes’ using the Ops Manager to finish validation and complete the setup.

1. In case devportal setup still fails, ssh to the devportal box.

    a. Go to the <b>/opt/apigee/data/apigee-lb/conf.d</b> directory and unlink the wrong link. It may still be linked to v4.17.09 file, which no longer exists.

      ```
unlink apigee-drupal-devportal-nginx.conf
      ```

    b. Link it to the correct location with the command below.

       ```
ln -s /opt/apigee/apigee-drupal-devportal-4.18.05-0.0.274/conf/apigee-drupal-devportal-nginx.conf apigee-drupal-devportal-nginx.conf
       ```
     c. Restart Apigee services.

       ```
/opt/apigee/apigee-service/bin/apigee-all restart
       ```
    d. Finish the upgrade by running the command below.

       ```
/opt/apigee/apigee-setup/bin/update.sh -c dp -f/var/vcap/jobs/apigee-drupal-devportal/config/silent.conf
       ```


#### Updating Apigee Edge Installer for PCF v4.17.05 to v4.17.09

Follow the steps below to update Apigee Edge Installer for Pivotal Cloud Foundry (PCF) v4.17.05 to v4.17.09:

1. Download the Edge Installer for PCF v4.17.09 product file from the [Pivotal Network](https://network.pivotal.io/)

1. In the Ops Manager, select <b>Import a Product</b> to upload the product tile.

1. Select the plus (+) icon to accept the tile. The v4.17.09 tile replaces the existing v4.17.05 tile.

1. <b>Only if you have enabled Monetization:</b>

      a. Select <b>Config Overrides</b> in the <b>Settings</b> tab.

      b. Specify the following value under <b>Apigee Global Config Overrides:</b>

      ```
   conf_apix-mint_mint.enable_allow_default_pg=true
      ```

      c. Select <b>Save</b>.

1. Select <b>Apply changes</b> to start the update. When the update completes, you return to the Ops Manager.


For information on the new features available in v4.17.09, see [4.17.09 - Edge for Private Cloud release notes](https://docs.apigee.com/release-notes/content/41709-edge-private-cloud-release-notes).
