---
title: Using Edge on PCF
owner: Partners
---

After you have completed the installation of Edge Installer for Pivotal Cloud Foundry (PCF) and [created an organization](http://docs.apigee.com/private-cloud/v4.17.01/provisioning-organizations), you can perform several types of tasks.

## <a id='monitor'></a>Access the Monitoring Dashboard
At install time, you can optionally choose to install the Beta release of the Edge Monitoring Dashboard. 
The dashboard helps you understand the health of various components (Routers, Message Processors, ZooKeeper, and Cassandra) as well as HTTP error codes for various orgs and environments in your deployment. 
You can also snapshot these details and share them with Apigee if required for resolving support incidents.

If you choose to install the dashboard, see [Accessing the Monitoring Dashboard](http://docs.apigee.com/private-cloud/v4.17.01/accessing-monitoring-dashboard) for more information on using it.

## <a id='status'></a>View Edge Status

In the Ops Manager, select the Edge Installer for PCF tile, then select the **Status** tab to see the status of all Edge components. In this tab, you can see information such as the CPU usage, memory usage, and other information.

## <a id='logs'></a>Access Logs

To access log files for an Edge component, select the Edge Installer for PCF tile in Ops Manager, open the **Status** tab, and  request a download of the log file by selecting the download icon in the **LOGS** column. Then go to the **Logs** tab to download the log file locally.

## <a id='pwords'></a>Access Default Passwords

The installer creates default passwords for many Edge components, including Postgres, Cassandra, and others. Typically, you will not need to use these passwords. 

If you do require one of the passwords, use the following procedure to obtain it:

1. Open the Ops Manager
1. Select the Edge Installer for PCF tile.
1. Select the **Credentials** tab.
1. Select **Link to Credentials** next to the component you are interested in. For example, select it for **Cassandra Password**. You should see output in the form below, which includes the password:

  `{"credential":{"type":"salted_credentials","value":{"identity":"5f75e7a405c9eac0","salt":"30905495ead5b75a","password":"yCz-GIThLId8UEermy-imeJaFOIa3j48"}}}`

  Use the value of the `password` property to access the component.

## <a id='modify'></a>Modify the Edge Installer for PCF Configuration

Modifying the Edge Installer for PCF configuration is similar to installing Edge Installer for PCF. 
From the **Settings** tab, browse to the section that you want to modify and fill in new form values.

**Save** your changes, and then return to the main Ops Manager page and select **Apply Changes**.

## <a id='doc'></a>Access the Edge Documentation

For complete information on using and configuring Edge, see [Version 4.17.01](http://docs.apigee.com/private-cloud/content/version-41701).